:root {
   --silver: #F7F6F2;
   --grey: #A1ACA2;
   --brass: #C09961;
   --tungsten: #2f3233;
}

.ascii-banner pre {
   width: 100%;
   font-size: 0.175vw;
   background-color: var(--tungsten);
   color: #F7F6F2;
   text-align: center;
   white-space: no-wrap;
   padding: 10px;
   text-align: center;

}

.twoCol {
   display: block;
}

.twoCol>* {
   padding: 1rem;
}

@media (min-width:768px) {
   .twoCol {
      display: grid;
      grid-template-columns: 1fr 2.5fr;
      column-gap: 5vw;
      margin-right: 20vw;
      text-align: justify;
   }
}

html {
   overflow-y: scroll;
}

body {
   background-color: var(--tungsten);
   font-size: 1.2vw;
   font-family: 'Times New Roman', Times, serif;
   color: var(--grey);
   margin: 5vw;
}

a {
   color: var(--grey);
   font-size: 1.2vw;
   text-decoration: none;
}

a:hover {
   color: var(--silver);
   font-size: 1.2vw;
   text-decoration: none;
}

a:visited {
   color: var(--grey);
   font-size: 1.2vw;
   text-decoration: none;
}

.catWatch {
   position: fixed;
   bottom: 0px;
   right: 10px;
   width: 10vw;
}

.status {
   font-style: italic;
   font-size: 1vw;
   margin-top: 0px;
}

.linkIcon {
   margin-left: 5px;
   margin-right: 5px;
   text-decoration: none;
   margin-top: 0px;
}

svg {
   fill: var(--grey);
   width: 2.5vw;
   height: 2.5vw;
}

svg:hover {
   fill: var(--silver);
}